@import "./colors.scss";

@mixin btn-style {
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0 1px 0px rgb(1, 19, 46, 0.8);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
  line-height: 62px;
  height: 62px;
  text-align: center;
  width: 180px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  border-radius: 10px;
  z-index: 2;
  text-transform: uppercase;
}

@mixin psuedo-style {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  transition: all 0.3s;
}

.selected {
  @include btn-style;
  color: #02193a;
  background-color: $pink;
  box-shadow: 2px 2px 10px rgb(237, 147, 222, 0.7);
}

// <div>{{ button name }}</div>
.custom-btn1 {
  @include btn-style;
  color: $pink;

  &::before {
    @include psuedo-style;
    background-color: rgba(241, 129, 222, 0.1);
  }

  &:hover::before {
    opacity: 0;
    transform: scale(0.3,0.3);
  }

  &::after {
    @include psuedo-style;
    opacity: 0;
    border: 2px solid rgba(241, 129, 222, 0.8);
    transform: scale(1.2,1.2);
  }

  &:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }
}

// <div>{{ button name }}</div>
.custom-btn2 {
  @include btn-style;
  color: $pink;

  &:hover {
    color: #02193a;
    box-shadow: 2px 2px 10px rgb(237, 147, 222, 0.7);
  }

  &::before {
    @include psuedo-style;
    z-index: -1;
    background-color: $pink;
    opacity: 0;
    transform: scale(0.3,0.3);
  }

  &:hover::before {
    opacity: 1;
    transform: scale(1,1);
  }

  &::after {
    @include psuedo-style;
    border: 2px solid rgba(241, 129, 222, 0.8);
  }
}

// <div><span>{{ button name }}</span></div>
.custom-btn3 {
  display: block;
  width: 480px;
  height: 50px;
  line-height: 45px;
  font-size: 19px;
  font-weight: 800;
  text-decoration: none;
  color: $pink;
  border: 2px solid $pink;
  text-align: center;
  position: relative;
  transition: all 0.5s ease-out;
  border-radius: 12px;
  text-transform: uppercase;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);

  span {
    position: relative;
    z-index: 2;
  }

  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: $pink;
    border-radius: 9px;
    transition: all 0.5s;
  }

  &:hover {
    color: #0a1a3a;
  }

  &:hover:before {
    width: 100%;
  }
}